@import "../../globals.scss";

.footer {
    background-color: transparent;
    width: 100%;
    padding-top: 1.5rem;
    position: absolute;
    bottom: 0;
    height: 1rem;
    @include transition(height 0.3s, padding 0.3s);
    overflow: hidden;

    &:hover {
        height: 4rem;
    }

    &__progress-bar-wrapper {
        position: relative;
        height: 100%;
    }
    
    &__progress-bar {
        height: 100%;
        background-color: white;
        @include transition(width 0.3s ease-in-out);
        z-index: 1;
        position: relative;
    }

    &__information {
        display: flex;
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        z-index: 2;
    }

    &__chapter-button {
        @include transition(0.3s background-color);
        background-color: rgba(0, 0, 0, 0);

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
