@import "../../globals.scss";

.footer {
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    &__progress-bar {
        height: 1rem;
        background-color: white;
        @include transition(width 0.3s ease-in-out);
    }
}
